
<div >
  <div >
    <label>{{ 'key.title' | translate }}
      <input [(ngModel)]="newsData.title" />
    </label><br>
    <label> {{ 'key.brief' | translate }}
      <input [(ngModel)]="newsData.brief" />
    </label><br>
    <label>{{ 'key.date' | translate }}
      <input [(ngModel)]="newsData.date" />
    </label><br>
    <label> {{ 'key.content' | translate }}
      <input [(ngModel)]="newsData.content" />
    </label><br>
  </div>
  <button (click)="updateNews()"> {{ 'key.edit' | translate }}</button>
</div>
