<div class="content" align="center" *ngFor="let n of newsList; let i=index;">
  <b> {{ 'key.title' | translate }} </b>
  <span style="padding-left: 20px"> {{n.title}} </span>
  <span style="float: right;"> <i><u>{{n.date}}</u></i></span>
  <h5>{{n.brief}}</h5>
  <span style="float: right;" >
    <a routerLink="/newsS/{{n.id}}" >  {{ 'key.view' | translate }}</a>
    <a routerLink="/news-edit/{{n.id}}" *ngIf="currentUser">  {{ 'key.edit' | translate }}</a>

            <input type="checkbox" value="{{n.id}}"  (click)="check(n.id)" *ngIf="currentUser"/>
       </span>
  <h5></h5>

</div>
<button style="float: right;" title="delete news"
        (click)="delete()" *ngIf="currentUser">{{ 'key.delete' | translate }}</button>
