
<div *ngIf="news" >
  {{ 'key.title' | translate }} <p>{{news.title}}</p>
  <h6></h6>
  {{ 'key.brief' | translate }}
  <p>{{news.brief}}</p>
  <h6></h6>
  {{ 'key.date' | translate }}
  <p>{{news.date}}</p>
  <h6></h6>
  {{ 'key.content' | translate }}
  <p>{{news.content}}</p>
  <h6></h6>
  <div *ngIf="currentUser">
    <button routerLink="/news-edit/{{news.id}}" >
      {{ 'key.edit' | translate }}
    </button>
    <button (click)="delete(news.id)">
      {{ 'key.delete' | translate }}
    </button>
  </div>
</div>

